.mother-div {
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.top-info {
  display: flex;
  gap: 20px;
}
.top-info ul {
  display: flex;
  gap: 25px;
  list-style: none;
  font-family: tahoma;
  font-weight: bold;
  cursor: wait;
}

.red-button {
  background-color: transparent;
  border: 2px solid red;
  font-family: tahoma;
  font weight: bold;
  border-radius: 5px;
  color: rgb(255, 0, 0);
  padding: 10px 40px;
}

.red-button:hover {
  background-color: black;
  color: white;
  cursor: grabbing;
}
